/gradlew text eol=lf
*.bat text eol=crlf
# Binary files
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.jar binary
*.war binary
*.zip binary
*.gz  binary
*.7z  binarys
